cffi==1.14.5
cloudpickle==1.6.0
future==0.18.2
gym==0.18.0
hanabi-learning-environment==0.0.1
numpy==1.20.2
PettingZoo==1.8.1
Pillow==7.2.0
pycparser==2.20
pyglet==1.5.0
python-chess==0.31.4
rlcard==0.2.8
scipy==1.6.2
termcolor==1.1.0
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
typing-extensions==3.7.4.3
