nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5wv;
    background: whitesmoke;
    color: black;
}

.nav-links{
    margin-top: 15px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: black;
}