nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20wv;
    background: whitesmoke;
    color: black;
}

.nav-links{
    margin-top: 15px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: black;
}